@media (max-width: 615px) {
    header {
        width: 100%;
        height: auto;
    }
    .navigation {
        height: 29%;
        flex-direction: column;
        align-items: center;
    }
    .navigation >.logo {
        order: 1;
        width: 50%;
    }
    .navigation >.nav-links-wrapper {
        order: 2;
        width: 100%;
    } 
    .space90{
        width: 100%;
        height: 135px;
    }
    .hero-wrapper{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hero-wrapper .right {
        height: auto;
        width: 100%;
        text-align: center;
        order: 1;

    }
    .right >.right-border {
        margin-bottom: 10px;
    }
    .hero-wrapper >.left {
        height: 100%;
        width: 100%;
        text-align: center;
        order: 2;
    }
    .main-main-body {
        
        grid-template-columns: 1fr !important;
        
    }
    
}